<!doctype html>
<!-- Conditional comment for mobile ie7 http://blogs.msdn.com/b/iemobile/ -->
<!-- Appcache Facts http://appcachefacts.info/ -->
<!--[if IEMobile 7 ]>    <html class="no-js iem7" manifest="default.appcache?v=1"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js"> <!--<![endif]-->

<head>
  <meta charset="utf-8">

  <title>Depression Graph</title>
  <meta name="description" content="Depression Graph: A personal record of major depression inventories. Track, share, get better.">
  <meta name="author" content="Allan Haggett">
  
  <!-- Mobile viewport optimization http://goo.gl/b9SaQ -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Home screen icon  Mathias Bynens http://goo.gl/6nVq0 -->
  <!-- For iPhone 4 with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/h/apple-touch-icon.png">
  <!-- For first-generation iPad: -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/m/apple-touch-icon.png">
  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <link rel="apple-touch-icon-precomposed" href="img/l/apple-touch-icon-precomposed.png">
  <!-- For nokia devices: -->
  <link rel="shortcut icon" href="img/l/apple-touch-icon.png">


  
  <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
  <meta http-equiv="cleartype" content="on">
	
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  
  <script src="/js/flot/jquery.flot.js"></script>
  <script src="/js/flot/jquery.flot.resize.js"></script>

  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap-responsive.css">
  <link rel="stylesheet" href="css/depression-graph.css">
   
  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="js/libs/modernizr-custom.js"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Depression Graph</a>

          <div class="nav-collapse collapse">

            <ul class="nav">
            <li>
            	<a href="/take">Take Test</a>
            </li>
              <li>
              	<a href="/list">List Inventories</a>
              </li>
              <li>
              	<a id="more" href="/info">Info</a>
              </li>
              <li>
              	<a href="/privacy">Privacy</a>
              </li>
				
            </ul>
          </div>
        </div>
      </div>
    </div>
        <div class="container-fluid">
      <div class="row-fluid">


		<script type="text/javascript">
    $(function () {

          
        var dgraph = [
        {% for point in graph %}
          [{{ point.0 }}, {{ point.1 }}],
        {% endfor %}
        ];
        var plot = $.plot($("#graph"), 
            [{ 
              color: "#000",
              data: dgraph, 
              label: ""
            }], 
            {
            xaxis: { 
              mode: "time",
              timezone: "browser",
              tickSize: [14, "day"],
              minTickSize: [14, "day"]
            },
            yaxis: {
                ticks: 10,
                min: 0,
                max: 50
            },
            series: { 
              lines: { 
                show: true,
                fill: true, 
                fillColor: "rgba(255, 255, 255, 0.0)"
              },
              points: { 
                show: true, 
                radius: 3 
              }
            },
            grid: { 
              borderWidth: 0,
              hoverable: true,
              clickable: true
            }
          });
          $("#graph").bind("plotclick, plothover", function (event, pos, item) {
              if (item) {
                plot.unhighlight();
                p = item.dataIndex + 1;
                score = item.datapoint[1];
                q = item.datapoint[0];
                var myDate = new Date(q);
                level = "badge-success";
                if (score > 20) {
                  level = "badge-warning";
                }
                if (score > 30) {
                  level = "badge-important";
                }
                $("#clickdata").html("<hr><div class=arrow-down></div><p>Score: <span class='badge " + level + "'>" + score + "</span><br>"  + myDate.toLocaleDateString() + ".</p>");
                //$("#linker").html("<a href=/inventory?iid=" + item.datapoint[0] + ">Link</a>");
                plot.highlight(item.series, item.datapoint);
              }
          });

    });
    </script>
    <div class="span7">

      <div id="graph"></div>
      <div id="show">Show <a href="/" class="badge">8</a> <a href="/?limit=1" class="badge">All</a> tests.</div>
      <div id="clickdata"></div>
      <hr>
      <div class="take">
        <a class="btn btn-primary btn-large" href="/take">Take a Test</a>
      </div>


      <hr>

        {% if reminder %}
        <hr>
      <p>You have a reminder set for {{ reminder.0.date|date:"F jS" }}. <a href="/reminder?action=delete&key={{ reminder.0.key }}" class="btn btn-mini">cancel</a></p>
      {% endif %}
    </div>

    </div> <!-- /.row-fluid -->
<!--     http://en.wikipedia.org/wiki/Major_Depression_Inventory -->

    <footer>
		<hr>
    	<p>Signed in as: {{ userreg }}.</p>
		<p id="logout"><a class="btn btn-mini" href="{{ url }}">{{ url_linktext }}</a></p>
    </footer>
  </div> <!--! end of #container -->


  
  
  <!-- Debugger - remove for production -->
  <!-- <script src="https://getfirebug.com/firebug-lite.js"></script> -->
  
  <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23662637-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>