<!doctype html>
<!-- Conditional comment for mobile ie7 http://blogs.msdn.com/b/iemobile/ -->
<!-- Appcache Facts http://appcachefacts.info/ -->
<!--[if IEMobile 7 ]>    <html class="no-js iem7"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js"> <!--<![endif]-->

<head>
  <meta charset="utf-8">

  <title>Depression Graph</title>
  <meta name="description" content="Depression Graph: A personal record of major depression inventories. Track, share, get better.">
  <meta name="author" content="Allan Haggett <allan@hitchless.com>">
  
  <!-- Mobile viewport optimization http://goo.gl/b9SaQ -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Home screen icon  Mathias Bynens http://goo.gl/6nVq0 -->
  <!-- For iPhone 4 with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/h/apple-touch-icon.png">
  <!-- For first-generation iPad: -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/m/apple-touch-icon.png">
  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <link rel="apple-touch-icon-precomposed" href="img/l/apple-touch-icon-precomposed.png">
  <!-- For nokia devices: -->
  <link rel="shortcut icon" href="img/l/apple-touch-icon.png">
  

  <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
  <meta http-equiv="cleartype" content="on">
  <meta name="robots" content="noindex">

  
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap-responsive.css">
  <link rel="stylesheet" href="css/depression-graph.css">
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Depression Graph</a>

          <div class="nav-collapse collapse">
            <ul class="nav">
            <li>
            	<a href="/take">Take Test</a>
            </li>
              <li>
              	<a href="/list">List Inventories</a>
              </li>
              <li>
              	<a id="more" href="/info">Info</a>
              </li>
              <li>
              	<a href="/privacy">Privacy</a>
              </li>
				
            </ul>
          </div>
        </div>
      </div>
    </div>

        <div class="container-fluid">
      <div class="row-fluid">
      {% if emailsent %}
		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert">×</button>
			Email sent.
		</div>
      {% endif %}
      {% if reminderset %}
		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert">×</button>
			Reminder set.
		</div>
      {% endif %}
		<div class="span4 result">
<!-- 		<h1>{{ date }}</h1> -->
<!-- 		<p class="score">{{ score }}</p> -->
		<p id="takenon">On {{ date }} the result was:</p>
		<p class="diagnoses">{{ diagnoses }}</p>
		<div class="grapher">
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages: ['gauge']});
    </script>
    <script type="text/javascript">
      function drawVisualization() {
        // Create and populate the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Label');
        data.addColumn('number', 'Value');
        data.addRows(3);
        data.setValue(0, 0, 'Score');
        data.setValue(0, 1, {{ score }});

        var options = {
          width: 2600, height: 260,
          redFrom: 30, redTo: 50,
          yellowFrom: 25, yellowTo: 30,
          greenFrom: 20, greenTo: 25,
          majorTicks: ['','10','20','30','40','50'], 
          minorTicks: 10, max: 50
        }; 
        // Create and draw the visualization.
        new google.visualization.Gauge(document.getElementById('visualization')).
            draw(data, options);
      }
      

      google.setOnLoadCallback(drawVisualization);
    </script>
	    
	    <div id="visualization" style="width: 260px; height: 260px;"></div>
	    </div> <!-- /.grapher -->
		<form id="email-inventory" class="form-inline" method="post" action="/inventory-email">

				<label>
					Send to: 
					<input placeholder="email@address.com" type="email" class="mailto" name="emailto" size="15">
				</label>
				<input type="hidden" name="iid" value="{{ iid }}">
				<input type="hidden" name="message" value="Score: {{ score }}">
				<button class="btn btn-success">Send</button>

		</form>
		<div class="">
			<a class="delete-inventory btn btn-mini btn-danger" href="/inventory?action=delete&iid={{ iid }}">delete</a>
		</div>
	</div>
	<div class="span4">

		<dl>
			<dt>Have you felt low in spirits or sad ?</dt>
				<dd>{{ answer.0 }}</dd>
			<dt>Have you lost interest in your daily activities ?</dt>
				<dd>{{ answer.1 }}</dd>						
			<dt>Have you felt lacking in energy and strength?</dt>
				<dd>{{ answer.2 }}</dd>						
			<dt>Have you felt less self-confident?</dt>
				<dd>{{ answer.3 }}</dd>						
			<dt>Have you had a bad conscience or feelings of guilt?</dt>
				<dd>{{ answer.4 }}</dd>						
			<dt>Have you felt that life wasn’t worth living?</dt>
				<dd>{{ answer.5 }}</dd>						
			<dt>Have you had difficulty in concentrating?</dt>
				<dd>{{ answer.6 }}</dd>						
			<dt>Have you felt very restless?</dt>
				<dd>{{ answer.7 }}</dd>						
			<dt>Have you felt subdued or slowed down?</dt>
				<dd>{{ answer.8 }}</dd>						
			<dt>Have you had trouble sleeping at night?</dt>
				<dd>{{ answer.9 }}</dd>						
			<dt>Have you suffered from reduced appetite?</dt>
				<dd>{{ answer.10 }}</dd>						
			<dt>Have you suffered from increased appetite?</dt>
				<dd>{{ answer.11 }}</dd>	
		</dl>
    </div>
    </div>

  </div> <!--! end of #container -->


  <script src="//code.jquery.com/jquery-1.8.0.min.js"></script>
  <script src="/js/bootstrap.js"></script>

  
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23662637-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
