

model question
model answer
  
<li>Have you felt low in spirits or sad?</li>
<li>Have you lost interest in your daily activities?</li>						
<li>Have you felt lacking in energy and strength?</li>						
<li>Have you felt less self-confident?</li>						
<li>Have you had a bad conscience or feelings of guilt?</li>						
<li>Have you felt that life wasn’t worth living?</li>						
<li>Have you had difficulty in concentrating, e.g. when reading the newspaper or watching television?</li>						
<li>Have you felt very restless?</li>						
<li>Have you felt subdued or slowed down?</li>						
<li>Have you had trouble sleeping at night?</li>						
<li>Have you suffered from reduced appetite?</li>						
<li>Have you suffered from increased appetite?</li>	


All the time
Most of the time
Slightly more than half the time
Slightly less than half the time
Some of the time
At no time
