body {
	padding-top: 60px;
}
#container {
	margin: 0 auto;

}
.track {
	font-size: 30px;
}
a.current {
	color: red;
}
.pastweeks {
	font-size: 24px;
	margin: 10px 0;
}
.question {
	margin: 20px 0;
}
.questiontext { 
	font-size: 18px;
	margin: 10px 0;
}
.question label {
	margin: 15px 0;
}
.question input[type="radio"], 
.question input[type="checkbox"] {
	margin: 0;
}
.diagnoses {
	font-size: 22px;
}
.remindin { 
	font-size: 18px;
	margin: 20px 0;
}
.result {
	text-align: center;
}
.mailto {
	width: 140px;
}
#grapher,
#visualization {
	margin: 0 auto;
}
iframe {
	width: 50%;
}
@media (max-width: 480px) {

	.mailto {
		width: 120px;
	}

	iframe {
		width: 100%;
	}
}
