body {
	padding-top: 60px;
}
#container {
	margin: 0 auto;

}
.track {
	font-size: 30px;
}
.track a {
	background: blue;
	border-radius: 50%;
	box-shadow: inset 1px 1px 1px #000;
	color: #FFF;
	display: inline-block;
	font-size: 9px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	width: 15px;

}
.track a:hover {
	text-decoration: none;
}
.track a.answered {
	background: red;
	box-shadow: inset 1px 1px 3px #000;
}
.track a.active {
	font-weight: bold;
}
.pastweeks {
	font-size: 24px;
	margin: 10px 0;
}
.question {
	margin: 20px 0;
}
.questiontext { 
	font-size: 18px;
	margin: 10px 0;
}
.question label {
	margin: 15px 0;
}
.question input[type="radio"], 
.question input[type="checkbox"] {
	/*display: none;*/
	margin: 0;
}
.diagnoses {
	font-size: 22px;
}
.remindin { 
	font-size: 18px;
	margin: 20px 0;
}
.result {
	text-align: center;
}
.mailto {
	width: 140px;
}
#grapher,
#visualization {
	margin: 0 auto;
}
iframe {
	width: 50%;
}
@media (max-width: 480px) {

	.mailto {
		width: 120px;
	}

	iframe {
		width: 100%;
	}
	.slidedat {
		
	}
	#slide {
		float: left;
		width: 160px !important;
	}
	.rangeval {
		padding: 0;
	}
	.tickLabel {
		line-height: 10px;
		-webkit-transform: rotate(-45deg);
	}
}
.arrow-down { 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #F1F1F1;
	height: 0; 
	margin: 0 auto 10px auto;
	width: 0;
}

#clickdata {
	color: #999;
	text-align: center;
}
#clickdata .badge {
	font-size: 18px;
}
#clickdata hr {
	margin: 20px 0 -1px 0;
}
#graph {
	background: url('../img/scale-bg.png') 22px 0 no-repeat;
	height: 300px;
	width: 100%;
}
.take {
	margin: 20px 0;
	text-align: center;;
	
}
.slidedat {
	margin: 15px 0 0 0;
}
#slide {
	margin: 10px auto;
	width: 90%;
}
.rangeval {
	font-weight: bold;
	padding: 5px 0 0 20px;
}
.tickLabel {
	/*background: #FFF;*/
	/*border-radius: 50%;*/
	padding: 0 4px;
}