/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */


/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }



/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */


body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Minimal base styles.
 */

/* Prevent mobile zooming while remain desktop zooming: github.com/shichuan/mobile-html5-boilerplate/issues/closed#issue/14 */
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; } 

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
ol ol { list-style-type: lower-alpha }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.iem7 legend { margin-left: -7px; }

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.iem7 input[type="checkbox"] { vertical-align: baseline; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
   border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.iem7 img { -ms-interpolation-mode: bicubic; }


/**
 * You might tweak these..
 */

body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }

a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


/* 
 * Helper classes 
 */
 
/* prevent callout */
.nocallout {-webkit-touch-callout: none;}

/* Text overflow with ellipsis */
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* A hack for HTML5 contenteditable attribute on mobile */
textarea.contenteditable {-webkit-appearance: none;}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if they have been set as display: none */
.gifhidden {position: absolute; left: -100%;}

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }


/* Primary Styles for mobile
   Author: Allan Haggett <allan@hitchless.com>
*/
body {
	background: #ecf0fb;
}
a {
	text-decoration: none;
}
h1 {
	font-size: 30px;
	font-weight: lighter;
	line-height: 26px;
	text-align: center;
	text-shadow: 3px 3px 1px #000;
	width: 100%;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 18px;
	font-weight: bold;
}
p {
	line-height: 22px;
	margin-bottom: 10px;
}
td {
	background: #FFF;
}
dl {
	background: #FFF;
	border-radius: 10px;
	padding: 25px;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 10px;
	padding: 10px;
}
input[type="radio"] {
	display: inline-block;
	padding-right: 10px;
}
button {
	background: #FFF;
	border: 0;
	border-radius: 5px;
	box-shadow: 1px 1px 2px #999;
}
#container {
	margin: 0 auto;
	padding: 10px;
	width: 300px;
}

.tagline {
	font-weight: lighter;
	text-align: center;
	text-transform: uppercase;
}
#more {
	background: rgba(255,255,255,.65);
	border-radius: 5px;
	display: block;
	margin: 10px 0;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
	width: 260px;

}
#loginlink,
#take a,
#login a,
.submitinventory {
	background: rgba(255,255,255,.3);
/*
	background-image: 
		-webkit-gradient(linear, left top, left bottom, 
			from(rgba(20,20,20,1)), 
			color-stop(0.5, rgba(20,20,20,.8)), 
			to(rgba(20,20,20,.9)));
*/
	box-shadow: 1px 1px 2px #333;

	border-radius: 5px;
	color: #333;
	display: block;
	font-weight: bold;
	margin: 10px 0;
	padding: 20px;
	text-align: center;
	text-shadow: 1px 1px 1px #FFF;
	text-transform: uppercase;
	width: 260px;
}
.submitinventory {
	font-size: 120%;

}
.submitinventory[disabled] {
	display: none;
}
#more {
	margin-top: 40px;
}
#library {
	margin: 10px 0 0 0;
	width: 300px;
}
#library li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#library li a {
	border-radius: 5px;
/* 	box-shadow: inset 1px 1px 1px rgba(0,0,0,.7); */
	display: inline-block;
	font-size: 12px;
	padding: 5px 10px;
}
#library li span a {
	background: #FFF;
	border-radius: 20px;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,.7);
	display: inline-block;
	font-size: 20px;
	margin-left: 10px;
	padding: 5px;
	text-align: center;
	text-shadow: 1px 1px 1px #CCC;
	width: 25px;
}
#library button {
	background: transparent;
	border-radius: 20px;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,.2);
	color: #CCC;
	font-size: 12px;
	text-shadow: 1px 1px 1px #FFF;
}
.delete-inventory {
	background: transparent;
	border-radius: 10px;
	color: #CCC;
	display: inline-block;
	float: right;
}
#library li:active form,
#library li:hover form {
	display: inline-block;
}
#library td {
	padding: 6px;
	text-align: center;
}
#library td a {
	display: block;
}
#library button {
	background: #FFF;
	border: 0;
}
#answers {
	display: none;
}
#trackshare li {
	margin-bottom: 10px;
}
#visualization {
	background: #FFF;
	border-radius: 10px;
	margin: 0 auto;
	overflow: hidden;
}
#visualization iframe {
	margin: 0 auto;
}
#email-inventory {
	background: #FFF;
	border-radius: 10px;
	padding: 20px 0;
	margin: 20px auto;

}
#email-inventory div {
	margin: 0 auto;
	width: 280px;
}
#email-inventory input {
	border-radius: 5px;
	width: 145px;
}
.score,
.diagnoses {
	font-size: 24px;
	text-align: Center;
}
#takenon {
	text-align: center;
}
.score {
	background: #333;
	border-radius: 10px;
	color: #FFF;
	text-align: center;
	width: 50px;
}

#inventory-form div {
	font-size: 22px;
	margin-bottom: 40px;
	width: 300px;
}
#library li,
#inventory-form label {
	background: rgba(255,255,255,.6);
	border-radius: 5px;
	border-top: 1px solid #F1F1F1;
	display: block;
	font-size: 16px;
	margin: 4px 0;
	padding: 5px 20px;
}



.track {
	display: inline-block;
	font-size: 30px;
	padding-top: 5px;
}	
.track a {
	color: #FFF;
}

.active {

}
.track a.current {
	color: red;
}


footer {
	padding: 30px;
	text-align: center;
}


.grapher {
	background: #FFF;
	border-radius: 10px;
	padding-top: 5px;
	text-align: center;
	width: 100%;
}










.navigation-bar {
	background: #333;
	
	background-image: 
		-webkit-gradient(linear, left top, left bottom, 
			from(rgba(50,50,50,1)), 
			color-stop(0.3, rgba(0,0,0,.8)), 

			to(rgba(100,100,100,1)));
		/*
-webkit-gradient(linear, left top, left bottom, 
			from(#636363), 
			color-stop(0.25, #424242),
			color-stop(0.5, #202020), 
			color-stop(0.5, #000000),
			to(#000));
*/
	border-top: 1px solid #858585;
	border-bottom: 1px solid #858585; 
	color: #FFF;
	height: 45px;
	line-height: 8px;
	padding: 6px 10px 9px 10px;

	
	-webkit-box-orient: horizontal;
	-webkit-box-pack: justify;
	-webkit-box-sizing: border-box;
	
	
}


.button {
	display: inline-block;
	margin: 0 5px 0 0;
	padding: 0px 7px 0px 3px;

}
.button a {
	border-radius: 10px;	
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	line-height: 30px;
	height: 30px;

	background-image: 
		-webkit-gradient(linear, left top, left bottom, 
			from(#444), to(#666));
	box-shadow: inset 1px 1px 2px #000;
	color: #fff;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	padding: 0 10px;
}



